<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Information</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    

</head>
<body class = Infoback>
  <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://csumb.edu/media/csumb/section-editors/student-life/u2cMPUw0T8CtOxATwqaj_CSUMB-Round-Logo-for-Licensing-18-blue.png" 
            alt="Your Logo" style="max-width: 40px;">
        </a>
        <a class="navbar-brand custom-negative-margin" href="#">Welcome, <%= userName %>!</a>
        <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse-navbar-collapse" id="navbarNavAltMarkup" >
            <div class="navbar-nav ml-auto">
              <% if (isAdmin) { %>
                <a class="custom_button2" href="/admin">Admin</a>
              <% } else { %>
                  <a class="custom_button2" href="/profile">Profile</a>
              <% } %>
              <a class="custom_button2" href="/logout">Sign Out</a>
            </div>
        </div>
    </div>
</nav>
    
    <header>
      <h1 class="Banner">
        Otter Esport Lounge Information</h1>
    </header>
    <br> 
    <div>
        <div class="bannerImage">
          <img src="/Bannerimg1.jpg" alt="Your Image" class="centered-image">
        </div>
        <br> 
        <div class = info2>
          <p>
           
            <br>
            <% infoData.forEach(function(infoItem) { %>
              <p class= "infoText"><strong>Code of Conduct: </strong> <br><br> <%= infoItem.cod %></p>
          <% }); %>
          <br> 
            <% infoData.forEach(function(infoItem) { %>
              <p class= "infoText"><strong>Hours:</strong> <%= infoItem.hours %></p>
          <% }); %>
          <br>
            <% infoData.forEach(function(infoItem) { %>
              <p class= "infoText"><strong>Price:</strong> <%= infoItem.price %></p>
          <% }); %>
        </div>
        <h1 class="Banner">
          Games</h1>
        <!-- <div>

          <ul class="game-list">
            <% gameData.forEach(function(game,i) { %>
                <li class="game-item <%= i % 2 === 0 ? 'even' : 'odd' %>">
                    <img src="<%= game.img %>" class="image">
                    <div class="text">
                        <h2><%= game.name %></h2>
                        <p class = "inner_text"><%= game.desc %></p>
                    </div>
                </li>
            <% }); %>
        </ul>

        </div> -->
        <br>
        <div id="gameCarousel" class="owl-carousel">
          <% gameData.forEach(function(game, i) { %>
            <div class="item">
              <img src="<%= game.img %>" alt="<%= game.name %>" class="games-image">
              <div class="carousel-caption">
                <h2><%= game.name %></h2>
                <!-- <p><%= game.desc %></p> -->
              </div>
            </div>
          <% }); %>
        </div>
        <div class="custom-nav">
          <button class="custom-prev">Previous</button>
          <button class="custom-next">Next</button>
        </div>
        <br>
        <br> 
        <form method="POST">
          <div class="suggestion-box">
            <h3 id="suggestionText">Don't See a Game You Like? Let us Know What to Add Next!</h3>
            <br> 
            <input type="text" id="gameSuggestion" name="gameSuggestion" placeholder="Suggest a Game" class = "suggestion" maxlength="50">
            <button class="btn btn-primary" id="suggestButton">Submit Suggestion</button>
          </div>
          <br>
          <br>
        </form>
       

        
    </div>
    
    <footer>
        <p>&copy; CSUMB </p>
    </footer>
    <script>
      $(document).ready(function(){
        
        var $gameCarousel = $("#gameCarousel");
        var $customPrev = $(".custom-prev");
        var $customNext = $(".custom-next");

        $gameCarousel.owlCarousel({
            items: 3, // Number of items to show at once
            loop: true, // Infinite loop
            margin: 10, // Spacing between items
        });

        $customPrev.on("click", function () {
            $gameCarousel.trigger("prev.owl.carousel");
        });

        $customNext.on("click", function () {
            $gameCarousel.trigger("next.owl.carousel");
        });
            
      });
      
    </script>
</body>
</html>