<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    

</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Welcome</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse-navbar-collapse" id="navbarNavAltMarkup" >
            <div class="navbar-nav" class="ml-auto">
              <a class="nav-link" href="/">Login</a>
            </div>
          </div>
        </div>
      </nav>
      <br> 
      <br> 
    <header>
      <h1 class="Banner">
        Esports Lounge</h1>
    </header>
    <div>
        <h3 class= info1>
          Lounge Info 
        </h3>
        <div class = info2>
          <p>
           
            <br>
            
            <% infoData.forEach(function(infoItem) { %>
              <p><strong>Price:</strong> <%= infoItem.price %></p>
          <% }); %>
            <% infoData.forEach(function(infoItem) { %>
              <p><strong>Hours:</strong> <%= infoItem.hours %></p>
          <% }); %>

        </div>
        
        <div>

          <ul class="game-list">
            <% gameData.forEach(function(game,i) { %>
                <li class="game-item <%= i % 2 === 0 ? 'even' : 'odd' %>">
                    <img src="<%= game.img %>" class="image">
                    <div class="text">
                        <h2><%= game.name %></h2>
                        <p class = "inner_text"><%= game.desc %></p>
                    </div>
                </li>
            <% }); %>
        </ul>

        </div>
        <br>
        <br>
        <form method="POST">
          <div class="suggestion-box">
            <h3>Suggest a Game</h3>
            <input type="text" id="gameSuggestion" name="gameSuggestion" placeholder="Suggest a Game" class = "suggestion" maxlength="50">
            <button class="btn btn-primary" id="suggestButton">Submit Suggestion</button>
          </div>
          <br>
          <br>
        </form>
        <div class= "info2">
            <% infoData.forEach(function(infoItem) { %>
              <p><strong>Code of conduct:</strong> <%= infoItem.cod %></p>
          <% }); %>
        </div>

        
    </div>
    
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</body>
</html>